.container {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  flex: auto;
  
  align-items: center;
  overflow: hidden;
}
.bigcontainer {
  background: rgb(0, 0, 0);
  padding: 12px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  width: 100%;
  align-items: center;
}
#cont1{
  background: #1F2937;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  width: 100%;
  align-items: center;
}
#cont2{
  background: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  width: 100%;
  align-items: center;
}
#cont3{
  background: #E5E7EB;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 65%;
  width: 100%;
  align-items: center;
}
#cont4{
  background: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 50%;
  width: 100%;
  align-items: center;
}
#cont4-1{
  background: #3882F6;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  width: 50%;
  align-items: center;
}
#cont4-1-1{
  color: white;
  flex-direction: row;
  display: flex;
  flex: auto;
  align-items: center;
}
#btnBottom{
  background-color: #3882F6;
  color: white;
  border-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#cont3-1{
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
}
#quote{
  width: 37%;
  color:rgb(97, 94, 94);
  font-size: 20px;
  font-weight: 100; 
  text-align: left;
  margin: 0 auto;
}
#author{
  margin-left:350px;
}
#cont2-1{
  align-items:center;
  display: flex;
  flex-direction: row;
}
.bcontainer{
  border-style: solid;
  border-width: 3px;
  border-color: #3882F6;
  margin: 20px;
  margin-bottom: 0px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
#cont2-2{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 440px;
  margin-left: 440px;
}
.textitem{
  display: flex;
  margin: 15px;
  margin-top: 0px;
  flex-direction:row;
  align-items: center;
  text-align: center;
  font-size: 12px;
}
#cont1-1{
  display:flex;
  flex-direction: row;
  align-items: center;
  flex: auto;
  margin: auto;
  margin-top: 0px;
}
#cont1-1-1{
  margin-right: 480px;
  color: white;
}
#cont1-1-2{
  align-items: center;
  margin-top:0px;
  color: white;
  display: flex;
  flex-direction: row;
}
#headerLinks1{
  margin: 10px;
  margin-top: 0px;
}
#headerLinks2{
  margin: 10px;
  margin-top: 0px;
}
#headerLinks3{
  margin: 10px;
  margin-top: 0px;
}
#headerLinks4{
  margin: 10px;
  margin-top: 0px;
}
#cont1-2{
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: auto;
  align-items: center;
  padding-left: 265px;
}
#cont1-2-1{
  width: 30%;
  align-items: left;
  color: white;
}
#cont1-2-2{
  display: flex;
  width: 300px;
  height:200px;
  background-color: grey;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
}
#shadedBox{
  color: white;
  justify-content: center;
}
#btnTop{
  background-color: #3882F6;
  color: white;
  border-color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 0px;
  width: 30%;
  text-align: center;
  cursor: pointer;
}